html{
    font-family: "Palatino Linotype", Palatino, serif;
}

div.navbar{
    width: 200px;
    width: 75vh;
    word-wrap: : normal;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: solid 2px black;
    position: fixed:
}

ul.pages{
    list-style-type: none;
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li.nav{
    display: inline;
    padding: 25px;
}

div.main{
    padding: 10px;
    margin: auto;
    width: auto;
    height: 80vh;
    position: fixed;
    overflow; auto;
}

div.image{
    background-image: url("me1.JPG");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    width: 300px;
    height: 500px;
    float: left;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    position: fixed;
}

div.aboutme{
    overflow: scroll;
    float: right;
    margin-left: 310px;
    margin-right: 20px;
    width: inherit;
    height: 500px;
    padding: 0px 10px 5px 10px;
    position: fixed;
    overflow: scroll;
}

h1{
    text-align: center;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: orangered;
}
